:root {
  --dark-primary-color: #FFFFFF;
  --secondary-text-color:#0F1819;
  --divider-color: #BDBDBD;
  --accent-color: #FF4081;
}
body {
  margin: 10rem;
  margin-top: 0%;
  margin-bottom: 0%;
  color: #FFFFFF;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  background-color: var(--secondary-text-color);
}
h1, h2, h3, h4, h5, h6 {
  text-align: center;
  align-items: center;
  justify-content: center;
  color: var(--accent-color);
}
p{
  padding: 1.8rem;
  display: flex;
  font-size: large;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.col-md-6 img {
  height: auto;
  padding: 0 20rem 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  margin: 1rem;
  display: flex;
  font-size: large;
  text-align: center;
  align-items: center;
  justify-content: center;
}

hr.hr-style {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(255, 64, 129), rgba(0, 0, 0, 0));
}

.dhoni-intro {
  margin-bottom: 1em;
}
.dhoni-timeline {
  text-align: justify;
  color: #FFFFFF;
}

.dhoni-timeline ul {
  padding-left: 20px;
}
.dhoni-timeline ul li{
  margin: 1%;
}
footer {
  margin: 0%;
  width: 100%;
}
.footer {
  text-align: center;
  padding: 0%;
  bottom: 0;
  left: 0;
  width: 100%;
}
footer p {
  font-size: large;
  background-color: #BDBDBD;
  color: #0F1819;
  padding: 1%;
  width: 100%;
  bottom: 0;
}

/* Media queries for responsive design */
@media (max-width: 768px) {
  body {
    margin: 1rem;
  }
  
  .col-md-6 img {
    width: 50%;
    padding: 0 10rem;
  }
  
  p {
    font-size: medium;
  }
  
  a {
    font-size: medium;
  }
  
  /* Adjust footer for smaller screens */
  .footer {
    font-size: medium;
  }
}

@media (max-width: 480px) {
  body {
    margin: 0.5rem;
  }
  h1 {
    font-size: medium;
  }
  p {
    margin-top: 0%;
    padding: 0%;
  }
  
  .col-md-6 img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    padding: 0 6rem;
  }
  .dhoni-timeline ul li {
    font-size: small;
  }
  p {
    font-size: small;
  }
  
  a {
    font-size: small;
  }
  
  /* Adjust footer for even smaller screens */
  .footer p {
    font-size: small;
  }
}
